<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->


<footer class="footer navbar-fixed-bottom row-fluid">
  <div>
      <div>
        <p>FoodPrint Supply Chain Platform <span class="badge badge-secondary">ALPHA VERSION</span> </p>
      </div>
  </div>
</footer>
<!-- end footer -->