<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->


<footer class="footer navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
      <div  class="container">
        <div>
          <p>FoodPrint Supply Chain Platform <span class="badge badge-secondary">ALPHA VERSION</span> Knowledge Base - <a href="knowledge.foodprintlabs.com">Knowledge Base</a>. Contact - <a href="mailto:support@foodprintlabs.com">FoodPrint Support</a>. Website - <a target="_blank" href="http://foodprintlabs.com/">FoodPrint Labs.</a></p>
        </div>
      </div>
    </div>
</footer>
<!-- end footer -->