<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->


<footer class="footer navbar-fixed-bottom row-fluid">
    <div>
        <p>FoodPrint Supply Chain Platform <span class="badge badge-secondary">ALPHA VERSION</span> &copy; <a href="https://www.foodprintlabs.com/" target="_blank">FoodPrint Labs (Pty) Ltd.</a></p>
    </div>
</footer>
<!-- end footer -->