<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
<footer>
  <div class="container-fluid" style="background-color:White;">      
    <div class="row copyright">
        <div class="col-md-12">
          <div>
            <p>FoodPrint Supply Chain Platform. Knowledge Base - <a href="knowledge.foodprintlabs.com">Knowledge Base</a>. Contact - <a href="mailto:support@foodprintlabs.com">FoodPrint Support</a>. Website - <a target="_blank" href="http://foodprintlabs.com/">FoodPrint Labs.</a></p>
          <p><span class="badge badge-secondary">ALPHA VERSION</span></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->