<!-- views/partials/header.ejs -->
<!-- START: header -->
<!-- add immediately after body tag-->
<div class="container">
<img class="logo" src="/img/FoodPrintLogo.png" height="40px" align="left" vertical-align="middle">
    <a href="/" class="probootstrap-logo">FoodPrint<span>.</span></a>

    <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
    <div class="mobile-menu-overlay"></div>

    <nav role="navigation" class="probootstrap-nav hidden-xs">
    <ul class="probootstrap-main-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Produce</a></li>
        <li><a href="/farmers">Farmers</a></li>
        <li><a href="/weekly">Weekly View</a></li>
        <li><a href="/supplychain">Supply Chain</a></li>
        <!--<li><a href="#">Config</a></li>-->
        <li><a href="/app/auth/login">Sign In</a></li>
        <!--<li><a class="btn btn-outline-primary" href="#">Hi Thandeka</a></li>-->
    </ul>
    <div class="extra-text visible-xs">
        <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
        <h5>Connect</h5>
        <ul class="social-buttons">
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-facebook2"></i></a></li>
        <li><a href="#"><i class="icon-instagram2"></i></a></li>
        </ul>
    </div>
    </nav>
</div>
<!-- END: header -->