<!-- views/partials/header.ejs -->
<!-- START: header -->
<!-- add immediately after body tag-->
<div class="container-fluid header-container">
    <a href="/" class="logo-wrapper">
        <img class="logo" src="/img/FoodPrintLogo.png" height="40px" align="left" vertical-align="middle" alt="logo">
        <h2 class="probootstrap-logo">FoodPrint<span>.</span></h2>
    </a>

    <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
    <div class="mobile-menu-overlay"></div>

    <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
            <li <% if (page_name==='home' ) { %>class="active"
                <% } %> ><a href="/">Home</a></li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Track & Trace
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/app/harvest">Harvest Logbook</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/storage">Storage/Handover Logbook</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/trace_produce">Trace Produce</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wholesale Marketplace
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/app/buyer">Buyer Logbook</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/seller">Seller Logbook</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/order">Order Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/order/myorders">My Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/produce">Produce List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/produce/pricepage">Produce Pricing</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reporting & Dashboards
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/app/buyer">QR Code Analytics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/seller">Seller Logbook</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/order">Order Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/dashboards/admin">Admin Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/dashboards/farmer">Farmer Dashboard</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuration
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/qrcode">QR Codes - Static</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/qrcode/supplierproduce">QR Codes - Supplier Produce</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://www.foodprintapp.com/img/demo_qrcode.png" target="_blank">Demo QR Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/blockchain_explorer">Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/test_config">Testing UI</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/produce">Produce List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/produce/pricepage">Produce Pricing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/app/email">Email Logs</a>

                </div>
            </li>

            <!-- <li <% if (page_name === 'supplychain') { %>class="active" <% } %> ><a href="/app/supplychain">Supply Chain</a></li> This was from very first pilot with harvest and storage on one page July 2019 -->
            <!--<li <% if (page_name === 'config') { %>class="active" <% } %> ><a href="/config">Config</a></li> -->
            <li <% if (page_name==='login' ) { %>class=""
                <% } %> >
                    <% if (user) { %>
                        <a href="/app/auth/logout">Log out (<%=user.username%>)</a>
                        <% } else { %>
                            <a class="login-header" href="/app/auth/login">Login</a>
                            <% } %>
            </li>
        </ul>
        <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
                <li><a href="https://twitter.com/foodprintlabs"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/foodprintlabs"><i class="icon-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/company/foodprintlabs"><i class="icon-linkedin"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- END: header -->