<!-- views/partials/head.ejs -->
<!-- add between head tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FoodPrint - Connecting farmers to markets & financial services.</title>
<meta name="description" content="FoodPrint. Connecting farmers to markets & financial services.">
<meta name="keywords" content="food supply chain, blockchain, farmers, food markets, retailers, customers, insurance">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83496703-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-83496703-5');
</script>


<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href="/css/styles-merged.css"> <!--  Bootstrap v3.3.7 -->
<link rel="stylesheet" href="/css/style.min.css"> <!-- https://probootstrap.com/green-free-html5-website-template-using-bootstrap-framework -->
<link rel="stylesheet" href="/css/custom.css">

<link type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link type="text/css" href="/css/tempusdominus-bootstrap-3.css" /> <!-- https://tempusdominus.github.io/bootstrap-3/ -->


<!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
<![endif]-->