<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

    <section class="probootstrap-slider flexslider">
        <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: 49;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading probootstrap-animate mb20 fadeIn probootstrap-animated" data-animate-effect="fadeIn">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slides">
            <li style="background-image: url(/img/slider_1.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide" data-thumb-alt=""></li>
        </ul>
        <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
   </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">About</h4>
        <h2 class="heading">The FoodPrint Journey</h2>
      </div>

      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p>FoodPrint is a Cape Town (South Africa) based AgriTech startup. We are building a digital and blockchain-enabled food traceability platform for producers, consumers and anyone else involved in food supply chains. </p>
          <p>Spurred on by the the need to know more about the source of our foods, we make use of the latest technology to capture the journey of produce from farm-to-fork.</p>
          <p>We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p>For the initial pilot phase we have partnered with OZCF Farm and Market (2019/2020). The market's patrons are able to access information regarding selected produce from their cellphones by scanning a QR Code.</p>
          <p>As the platform grows, more producers will be added and consumers will have more information to base their consumption choices on.</p>
        </div>
      </div>
    </div>
  </section>

<!--   Pic 
  <div class="row">
    <div class="col-md-9 probootstrap-animate">
      <img src="img/pomegranite.jpg" alt="traceability in the food supply chain for markets" class="img-responsive img-rounded" >
    </div>
    <div class="col-md3 probootstrap-animate">
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"From Farm to Fork.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Transparency in the food supply chain.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Immutability of produce data.".</p>


    </div>
  </div>
</div>
<footer class="probootstrap-footer probootstrap-bg" style="background-image: url(/img/pomegranite.jpg)">
 -->

  <section class="probootstrap-section" style="background-image: url(/img/slider_4.jpg)">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h3 class="heading" style="color: white">FOUNDING TEAM</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Tash.png" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Natasha Oates</h2>
              <p>Natasha is an Information Systems graduate studying towards an MPhil in FinTech</p>
              <p><a href="https://za.linkedin.com/in/natasha-oates-0a0345134" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Thandeka4.jpg" alt="Free Template by uicookies.com" class="img-responsive" ></figure>
            <div class="text">
              <h2 class="heading">Thandeka Chehore</h2>
              <p>Thandeka is a Civil Engineering graduate currently studying towards an MPhil in FinTech</p>
              <p><a href="https://za.linkedin.com/in/thandekachehore" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Deirdre.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Deirdre van den Heever</h2>
              <p>Deirdre is a Business Analyst currently studying towards an MPhil in FinTech</p>
              <p><a href="https://za.linkedin.com/in/deirdre-van-den-heever-381a424a" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Julian.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Julian Kanjere</h2>
              <p>Julian is a Software Developer currently studying towards an MPhil in FinTech at UCT</p>
              <p><a href="https://za.linkedin.com/in/juliankanjere" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>

        <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>


      </div>
    </div>
  </section>

  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <h3 class="heading text-center">FOOD FOR THOUGHT</h3>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Supporting Local</h2>
            <p>In making food supply chains transparent, we reveal where the produce is from.</p>
            <p>This helps advance the cause of supporting locally grown produce, which in turn can immensely benefit small-scale farmers and local economies</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-hand"></i></div>
            <h2 class="heading">Responsible Consumption</h2>
            <p>As the saying goes, knowledge is power! FoodPrint arms consumers with information about food before they purchase - enabling them to make informed and responsible decisions about what they purchase to eat and where their money goes.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>

        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-recycle"></i></div>
            <h2 class="heading">Championing Sustainability</h2>
            <p>Communicating the information related to food sustainability such as whether it is in season, use of pesticides and distance travelled from source to destination (food miles) contributes positively to advancing sustainable food systems.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-water"></i></div>
            <h2 class="heading">Responsible and Ethical Production</h2>
            <p>Our food traceability platform helps farmers to keep food safety and quality top of mind.</p>
            <p>In addition, by making the practises behind the growing of food produce transparent, FoodPrint has the potential to help advance ethical and fair production for everyone involved.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-codepen"></i></div>
            <h2 class="heading">Innovation</h2>
            <p>By using the latest technology, we are playing our part in ensuring that South African food systems are advancing and globally relevant.</p>
          </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="clearfix visible-lg-block visible-md-block"></div>
    </div>
   </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </body>
</html>
