<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

    <section class="probootstrap-slider flexslider">
        <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: 49;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading probootstrap-animate mb20 fadeIn probootstrap-animated" data-animate-effect="fadeIn">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slides">
            <li style="background-image: url(/img/slider_1.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide" data-thumb-alt=""></li>
        </ul>
        <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
   </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">About</h4>
        <h2 class="heading">The FoodPrint Journey</h2>
      </div>

      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-9 probootstrap-animate">
          <p>FoodPrint is a Cape Town (South Africa) based tech-for-good startup. </p>
          <p>We simplify production and harvest data collection for smallholder farmers and connect them to market opportunities and services using our blockchain-enabled farm-to-fork supply chain platform. </p>
      </div>
    </div>
  </section>

   <section class="probootstrap-section" style="background-image: url(/img/slider_4.jpg)">
     <div class="container">
       <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
         <h3 class="heading" style="color: white">ALIGNMENT WITH SDGs</h3>
       </div>
       <div class="row">
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
           <div class="media-item">
             <figure><img src="img/E_WEB_02.png" alt="SDG 2 - Zero Hunger" class="img-responsive"></figure>
           </div>
         </div>
         <div class="clearfix visible-sm-block"></div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
           <div class="media-item">
             <figure><img src="img/E_WEB_08.png" alt="SDG 8 - Decent Work and Economic Growth" class="img-responsive" ></figure>
           </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
           <div class="media-item">
             <figure><img src="img/E_WEB_09.png" alt="SDG 9 - Industry, Innovation and Infrastructure" class="img-responsive"></figure>
           </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
           <div class="media-item">
             <figure><img src="img/E_WEB_12.png" alt="SDG 12 - Responsible Consumption and Production" class="img-responsive"></figure>
           </div>
         </div>

         <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>


       </div>
     </div>
   </section>

  <!--<section class="probootstrap-section" style="background-image: url(/img/slider_4.jpg)">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h3 class="heading" style="color: white">FOUNDING TEAM</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Tash.png" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Natasha Oates</h2>
              <p>Natasha is an Information Systems graduate studying towards an MPhil in FinTech at the University of Cape Town</p>
              <p><a href="https://za.linkedin.com/in/natasha-oates-0a0345134" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Thandeka4.jpg" alt="Free Template by uicookies.com" class="img-responsive" ></figure>
            <div class="text">
              <h2 class="heading">Thandeka Chehore</h2>
              <p>Thandeka is a Civil Engineering graduate currently studying towards an MPhil in FinTech at the University of Cape Town</p>
              <p><a href="https://za.linkedin.com/in/thandekachehore" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Deirdre.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Deirdre van den Heever</h2>
              <p>Deirdre is a Business Analyst currently studying towards an MPhil in FinTech at the University of Cape Town</p>
              <p><a href="https://za.linkedin.com/in/deirdre-van-den-heever-381a424a" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="media-item">
            <figure><img src="img/Julian.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Julian Kanjere</h2>
              <p>Julian is a Software Developer currently studying towards an PhD in Data Privacy and Blockchain at the University of Cape Town</p>
              <p><a href="https://za.linkedin.com/in/juliankanjere" class="btn btn-primary btn-sm">LinkedIn</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
      </div>
    </div>
  </section>-->

  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->
   <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/slider_2.jpg);">
     <div class="container text-center">
       <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">From local farms, to your table</h2>
       <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">We use world-class technology to bring you fresh food, from local producers!</p>
       <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn" id="share_to_socials">
         <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffoodprintapp.com" class="icon" target="_blank" aria-pressed="true" id="facebookMenuButton"><i class="icon-facebook"></i></a>
         <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffoodprintapp.com&amp;text=The%20FoodPrint%20traceability%20platform%20empowers%20farmers,%20consumers%20and%20every%20food%20actor%20in-between %20%23FoodPrint%20%23FarmToFork%20%23Tech4Good%20%23Blockchain%20%23ProudlySouthAfrican%20" class="icon"  target="_blank" aria-pressed="true" id="twitterMenuButton"><i class="icon-twitter"></i></a>
       </p>
     </div>
   </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <h3 class="heading text-center">OUR VALUES - FOOD FOR THOUGHT</h3>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Supporting Local</h2>
            <p>In making food supply chains transparent, we reveal where the produce is from.</p>
            <p>This helps advance the cause of supporting locally grown produce, which in turn can immensely benefit small-scale farmers and local economies</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-hand"></i></div>
            <h2 class="heading">Responsible Consumption</h2>
            <p>As the saying goes, knowledge is power! FoodPrint arms consumers with information about food before they purchase - enabling them to make informed and responsible decisions about what they purchase to eat and where their money goes.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>

        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-recycle"></i></div>
            <h2 class="heading">Championing Sustainability</h2>
            <p>Communicating the information related to food sustainability such as whether it is in season, use of pesticides and distance travelled from source to destination (food miles) contributes positively to advancing sustainable food systems.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-water"></i></div>
            <h2 class="heading">Responsible and Ethical Production</h2>
            <p>Our food traceability platform helps farmers to keep food safety and quality top of mind.</p>
            <p>In addition, by making the practises behind the growing of food produce transparent, FoodPrint has the potential to help advance ethical and fair production for everyone involved.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-codepen"></i></div>
            <h2 class="heading">Innovation</h2>
            <p>By using the latest technology, we are playing our part in ensuring that South African food systems are advancing and globally relevant.</p>
          </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="clearfix visible-lg-block visible-md-block"></div>
    </div>
   </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </body>
</html>
