<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

  <section class="probootstrap-slider flexslider">
    <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: 49;">
      <div class="container">

        <% include ./partials/notificationbar %>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Contact</h1>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Food Print - Tracing the world's food, from farm-to-fork.</div>
              <p class="probootstrap-animate" data-animate-effect="fadeIn"><a href="#" class="btn btn-ghost btn-ghost-white">Join the Journey</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/oranges_bg.jpg);"></li>
      <li style="background-image: url(/img/orangebowl_bg.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->
  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">Thanks for your interest in FoodPrint. Please fill out the form below and we will gladly come back to you.</h4>
        <h2 class="heading">Contact FoodPrint</h2>
      </div>
      
      <!-- START: CONTACT FORM  -->
      <div class="row">
        <div class="col-md-8">
          <form id="contact_form" class="probootstrap-form mb60">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your name"  style="color: black;" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your surname" style="color: black;" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" style="color: black;" required>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea cols="30" rows="10" class="form-control" id="message" name="message" placeholder="Enter your message" style="color: black;" required></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Send Message</button>
            </div>
          </form>
          <text id="contact_send_clicked"></text>
          <text id="contact_result"></text>
          <div class="alert-danger" id = "contact_error_group" style="display: none">
          <ul id="contact_errors"></ul>
        </div>
      </div>

        <!-- END: CONTACT FORM  -->

        <div class="col-md-3 col-md-push-1">
          <h4>Contact Information</h4>
          <ul class="with-icon colored">
            <li><i class="icon-location2"></i> <span>Cape Town, South Africa</span></li>
            <li><i class="icon-mail"></i><span>TheFoodPrintApp@gmail.com</span></li>
            <li><i class="icon-phone2"></i><span>+27 71 326 2735</span></li>
          </ul>

          <h4>FoodPrint</h4>
          <p>Digital Food Traceability Platform.</p>
          <p><a href="#">Learn More</a></p>
        </div>
    </div>
  </section>
  <div id="map"></div>


  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Locally Grown Vegetables</h2>
            <p>The majority of the produce at OZCF is grown at farms in and around the western cape, all the way from the West Cost to George</p>
            <p>This helps support the small scale farmers making use of sustainable farming methods</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-heart-outlined"></i></div>
            <h2 class="heading">Food for Thought</h2>
            <p>Knowing more about the provenance of your produce offers you better agency to support farmers making use of ethical farming methods.</p>
            <p>It gives you the chance to put your support behind produce that is good for the land and for</p>
          </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
    </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>

  <script src="js/custom.js"></script>
  <script>
    $(document).ready(function () {
             $('#contact_form').submit(function (event) {
                          event.preventDefault();
                          //collect the form data using Id Selector what ever data you need to send to server
                          var data = {};
                          data.contact_fname=$('#fname').val();
                          data.contact_lname=$('#lname').val();
                          data.contact_email=$('#email').val();
                          data.contact_message=$('#message').val();
                          $("#contact_form").hide();
                          $('#contact_error_group').hide();
                          $('#contact_result').html('');
                          $('#contact_send_clicked').html('Thanks for getting in touch.');
                          $.ajax({
                              url: '/contactform',
                              data: JSON.stringify(data),
                              processData: false,
                              type: 'POST',
                              contentType: 'application/json'
                          }).done(function(res) {
                              if (res.success) {
                                  //$("#contact_form").get(0).reset() // or $('form')[0].reset()
                                  $("#contact_form").hide();
                                  $('#contact_error_group').hide();
                                  $('#contact_result').html('Message sent.');
                              } else {
                                $("#contact_form").show();
                                $('#contact_result').html('Message failed to send. Please try again.');
                                  $('#contact_error_group').css('display', 'block');
                                    var errors = JSON.parse(JSON.stringify(res.errors));
                                    var errorsContainer = $('#contact_errors');
                                    errorsContainer.innerHTML = '';
                                    var errorsList = '';
  
                                    for (var i = 0; i < errors.length; i++) {
                                      errorsList += '<li>' + errors[i].msg + '</li>';
                                    }
                                    errorsContainer.html(errorsList);
                                  }
                            });
                      });
                  });
    </script>
  </body>
</html>
