<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <!-- START: header -->

    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header"><% include ./partials/header %></header>
    <!-- END: header -->

    <div class="container" style="width: 100%">
      <div class="row align-items-center justify-content-center">
        <!-- START FARMER DASHBOARD-->

        <!-- END FARMER DASHBOARD-->
      </div>
    </div>

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->

    <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
    <script src="/js/main.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
