<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
   <!-- END: header -->

   <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h2 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Food Facts 101</h2>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Learn about commonly used food terms and what they actually mean! </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/slider_1.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">FAQS & DEFINITIONS</h4>
        <h2 class="heading">Food Facts 101</h2>
      </div>

      <% include ./partials/notificationbar %>
      
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p><b>Organic Produce</b> - A form of agriculture in which use of synthetic/man-made pesticides and artificial fertilisers are prohibited. </p>
          <p><b>Organic Animal Farming</b> - Animal farming in which use of antibiotics or growth hormones are prohibited. In addition, all feed must be organically produced.</p>
          <p><b>Conventional Produce</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains.</p>
          <p><b>GMO Produce</b> - GMO is short for genetically modified organism. GMO foods are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering as opposed to traditional cross breeding. GMO produce is also known as genetically engineered food or bioengineered food.</p>
          <p><b>GMO-free Produce</b> - Usually means that the genetic makeup of the plants and animals used in the product has not been altered for the purposes of food production. GMO-free is the same as non-GMO.</p>
          <p><b>Pesticide</b> - Pesticides are a substance used to kill pests. More specifically,  <i>insecticides</i> kill insects, <i>Herbicides</i> kill weeds, <i>Fungicides</i> kill diseases.</p>
          <p><b>Pesticide-free</b> - Generally refers to produce that is not treated with any synthetic (human-made) pesticides. Pesticides are substances used to control insects, weeds, or disease-causing organisms. Additionally, pesticide-free produce is produce that has not been tested against the strict regulations to be Certified as Organic.</p>
          <p><b>Synthetic Pesticide vs Organic Pesticide</b> - Synthetic pesticides are made through chemistry (in a laboratory) whilst organic pesticides are derived from natural sources. However, whether they are made in a lab or naturally, if they are labelled as killing a pest, they are a pesticide. </p>
          <p><b>Organic vs Pesticide-free</b> - Organic produce does not mean pesticide-free. Organic and conventional food that has been treated with a pesticide will have residuals of that pesticide on the food item and as such, is not pesticide-free.</p>
          <p><b>Organic vs Conventional Farming</b> - Organic farming relies on natural principles like biodiversity and composting instead to produce healthy, abundant food. Conventional farming on the other hand relies on chemical intervention to fight pests and weeds and provide plant nutrition. That means synthetic pesticides, herbicides, and fertilizers. </p>
          <p><b>Organic vs Non-GMO</b> - Organic farmers rely on natural processes, biodiversity, and cycles adapted to local conditions rather than the use of synthetic inputs like chemical fertilizers, pesticides, and herbicides. In addition, GMOs are not allowed in organic. However, in the case of Npn-GMO produce, although Non-GMO label prohibits the use of certain herbicides that contain GMOs, it does not stipulate that Non-GMO products must be grown organically. </p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p><b>Food Supply Chain</b> - The series of processes, operations and entities that help to take food from its raw material state to a consumption ready state.</p>
          <p><b>Food Supply Chain Management and Operations</b> - Food Supply Chain Management includes the operations that are undertaken to keep the safety and quality of various food under efficient and effective modes. These operations include production, distribution, and consumption.</p>
          <p><b>Food Supply Chain Actors</b> - Participants in a Food Supply Chain, including producers(farmers), transportation agents, processing agents, retailers and consumers.</p>
          <p><b>Provenance</b> - Source. Origin. History of ownership of a valued object or work of art or literature.</p>
          <p><b>Transparency</b> - Making the information relevant to each Supply Chain operation visible to interested parties. Examples of this information includes who has been involved in the production and handling of the produce.</p>
          <p><b>Traceability</b> - The the ability to follow the movement of a feed or food through specified stage(s) of production, processing and distribution.</p>
          <p><b>Food Democracy</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Citizenship</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Poverty</b> - For the initial pilot phase we have partnered with OZCF Farm and Market (2019/2020). The market's patrons are able to access information regarding selected produce from their cellphones by scanning a QR Code.</p>
          <p><b>Food Safety and Quality</b> - As the platform grows, more producers will be added and consumers will have more information to base their consumption choices on.</p>
          <p><b>Food Secure</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Miles</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Farm-to-Fork</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(/img/toms1.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Learning more about the food we eat and the people who grow them</p>
    </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>
