<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
   <!-- END: header -->

   <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h2 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Food Facts 101</h2>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Learn about commonly used food terms and what they actually mean! </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/slider_1.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">FAQS & DEFINITIONS</h4>
        <h2 class="heading">Food Facts 101</h2>
      </div>

      <% include ./partials/notificationbar %>
      
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p><b>Organic Produce</b> - A form of agriculture in which the use of synthetic/man-made pesticides and artificial fertilisers are prohibited. </p>
          <p><b>Organic Animal Farming</b> - Animal farming in which the use of antibiotics and/or growth hormones is prohibited. In addition, all feed must be organically produced.</p>
          <p><b>Conventional Farming</b> - Farming which uses synthetic chemicals and fertilizers to maximize the yield of a particular crop or set of crops, which can also be genetically modified. Conventional farming requires a significant amount of chemical and energy input, and weakens the ecology of a landscape.</p>
          <p><b>GMO Produce</b> - GMO is short for genetically modified organism. GMO foods are foods produced from organisms that have had changes introduced into their DNA using genetic engineering methods as opposed to traditional cross breeding. GMO produce is also known as genetically engineered food or bio-engineered food.</p>
          <p><b>GMO-free Produce</b> - Usually means that the genetic makeup of the plants and animals used in the product has not been altered for the purposes of food production. GMO-free is the same as non-GMO.</p>
          <p><b>Pesticide</b> - Pesticides are a substance used to kill pests. More specifically,  <i>insecticides</i> kill insects, <i>Herbicides</i> kill weeds, <i>Fungicides</i> kill diseases.</p>
          <p><b>Pesticide-free</b> - Generally refers to produce that is not treated with any synthetic (human-made) pesticides. Pesticides are substances used to control insects, weeds, or disease-causing organisms. Additionally, pesticide-free produce is produce that has not been tested against the strict regulations to be certified as organic.</p>
          <p><b>Synthetic Pesticide vs Organic Pesticide</b> - Synthetic pesticides are made through chemistry (in a laboratory) whilst organic pesticides are derived from natural sources. However, whether they are made in a lab or naturally, if they are labelled as killing a pest, they are a pesticide. </p>
          <p><b>Organic Produce vs Pesticide-free Produce</b> - Organic produce does not mean pesticide-free. Any produce, whether organic or conventional that has been treated with a pesticide will have residuals of that pesticide on the food item and as such, is not pesticide-free.</p>
          <p><b>Organic Farming vs Conventional Farming</b> - Organic farming relies on natural principles like biodiversity and composting to produce healthy, abundant food. Conventional farming on the other hand relies on chemical intervention to fight pests and weeds, and provide plant nutrition (think synthetic pesticides, herbicides, and fertilizers). </p>
          <p><b>Organic Produce vs Non-GMO Produce</b> - Both organic produce and Non-GMO produce do not use any GMO inputs. However, organic produce is grown using natural processes, biodiversity, and cycles adapted to local conditions, without use of synthetic inputs like chemical fertilizers, pesticides, and herbicides. On the other hand, considering the case of non-GMO produce, although the non-GMO label prohibits the use of certain herbicides that contain GMOs, it does not stipulate that non-GMO products must be grown organically. </p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p><b>Food Supply Chain</b> - The series of processes, operations and entities that help to take food from its raw material state to a consumption ready state.</p>
          <p><b>Food Supply Chain Management and Operations</b> - Food Supply Chain Management includes the operations that are undertaken to keep the safety and quality of various food under efficient and effective modes. These operations include production, distribution, and consumption.</p>
          <p><b>Food Supply Chain Actors</b> - Participants in a Food Supply Chain, including producers(farmers), transportation agents, processing agents, retailers and consumers.</p>
          <p><b>Provenance</b> - Source. Origin. History of ownership of a valued object or work of art or literature.</p>
          <p><b>Transparency</b> - Making the information relevant to each Supply Chain operation visible to interested parties. Examples of this information includes who has been involved in the production and handling of the produce.</p>
          <p><b>Traceability</b> - The ability to follow the movement of a feed or food through specified stage(s) of production, processing and distribution.</p>
          <p><b>Food Democracy</b> - Food democracy emphasizes fulfilment of the human right to safe and nutritious food that has been justly produced, within a local context and championed by local residents as opposed to large corporations.</p>
          <p><b>Food Citizenship</b> - The practice of engaging in food-related behaviours that support, rather than threaten, the development of a democratic, socially and economically just, and environmentally sustainable food system.</p>
          <p><b>Food Poverty</b> - The inability to afford, or to have access to, food, to make up a healthy diet. It is about the quality of food as well as quantity. It is not just about hunger, but also about being appropriately nourished to attain and maintain health.</p>
          <p><b>Food Safety and Quality</b> - This refers to the safety measures taken from the farmers/suppliers to the beneficiaries. This is to ensure all the safety, nutritional quality and acceptability of the delivered foods, together with food acceptability by consumers.</p>
          <p><b>Food Security</b> - Defined as the availability of food and one's access to it. A household is considered food secure when its occupants do not live in hunger or fear of starvation.</p>
          <p><b>Food Mileage</b> - The distance that food travels from production side to final consumption end. The higher the mileage, the greater the distance travelled and the less likely it is that the produce is locally-grown.</p>
          <p><b>Food Fraud</b> - The act of purposely altering, misrepresenting, mislabeling, substituting or tampering with any food product at any point along the farm–to–table food supply–chain.</p>
          <p><b>Farm-to-Fork</b> - The farm-to-fork strategy is an emerging trend in local food supply chains with sustainability and provenance at its core. Farm-to-fork promotes consumption of locally sourced, fresh, safe and healthy food produce, often sourced directly from the producer or a local cooperative such as a farmers market.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(/img/toms1.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Farm-to-Fork Produce</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Learning more about the food we eat and the the farmers behind it</p>
    </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>
