<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
   <!-- END: header -->

   <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h2 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Food Facts 101</h2>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Learn about commonly used food terms and what they actually mean! </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/slider_1.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">FAQS & DEFINITIONS</h4>
        <h2 class="heading">Food Facts 101</h2>
      </div>

      <% include ./partials/notificationbar %>
      
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p><b>Food Supply Chain</b> - FoodPrint is a Cape Town (South Africa) based AgriTech startup. We are building a digital and blockchain-enabled food traceability platform for producers, consumers and anyone else involved in food supply chains. </p>
          <p><b>Provenance</b> - Spurred on by the the need to know more about the source of our foods, we make use of the latest technology to capture the journey of produce from farm-to-fork.</p>
          <p><b>Pesticide-free</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Organic</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Organic vs Pesticide-free</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Conventional</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains.</p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p><b>Food Democracy</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Citizenship</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Poverty</b> - For the initial pilot phase we have partnered with OZCF Farm and Market (2019/2020). The market's patrons are able to access information regarding selected produce from their cellphones by scanning a QR Code.</p>
          <p><b>Food Safety and Quality</b> - As the platform grows, more producers will be added and consumers will have more information to base their consumption choices on.</p>
          <p><b>Food Secure</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Food Miles</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
          <p><b>Farm-to-Fork</b> - We are empowering producers, agri-processors and consumers by bringing tamper-proof traceability and authentic transparency to food supply chains. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(/img/toms1.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Learning more about the food we eat and the people who grow them</p>
    </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>
