<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

  <section class="probootstrap-slider flexslider">
    <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: 49;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Produce </h1>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Tasty and Transparent </div>
              <p class="probootstrap-animate" data-animate-effect="fadeIn"><a href="/contact" class="btn btn-ghost btn-ghost-white">JOIN THE JOURNEY</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/orangebowl_bg.jpg);"></li>
      <li style="background-image: url(/img/darkproduce_bg.jpg);"></li>

    </ul>
  </section>
  <!-- END: slider  -->


  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">Produce of the Week</h4>
        <h2 class="heading">Click &amp; Explore</h2>
      </div>

      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitOne.jpg" class="image-popup" id="fruitOnePopup"><img src="img/fruitOne.jpg" class="img-responsive img-rounded" alt="FoodPrint Traceability" id="fruitOneImg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitTwo.jpg" class="image-popup" id="fruitTwoPopup"><img src="img/fruitTwo.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitTwoImg"></a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitThree.png" class="image-popup" id="fruitThreePopup"><img src="img/fruitThree.png" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitThreeImg"></a>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitFour.jpg" class="image-popup"id="fruitFourPopup"><img src="img/fruitFour.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitFourImg"></a>
        </div>

        <div class="clearfix visible-lg-block visible-sm-block"></div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitFive.jpg" class="image-popup" id="fruitFivePopup"><img src="img/fruitFive.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitFiveImg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitSix.jpg" class="image-popup" id="fruitSixPopup"><img src="img/fruitSix.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitSixImg"></a>
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitSeven.jpg" class="image-popup" id="fruitSevenPopup"><img src="img/fruitSeven.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitSevenImg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitEight.jpg" class="image-popup" id="fruitEightPopup"><img src="img/fruitEight.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitEightImg"></a>
        </div>
        <div class="clearfix visible-lg-block visible-sm-block"></div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitNine.jpg" class="image-popup" id="fruitNinePopup"><img src="img/fruitNine.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitNineImg"></a>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitTen.jpg" class="image-popup" id="fruitTenPopup"><img src="img/fruitTen.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitTenImg"></a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitEleven.jpg" class="image-popup" id="fruitElevenPopup"><img src="img/fruitEleven.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitElevenImg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn" >
          <a href="img/fruitTwelve.jpg" class="image-popup" id="fruitTwelvePopup"><img src="img/fruitTwelve.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com" id="fruitTwelveImg"></a>
        </div>

        <div class="clearfix visible-lg-block visible-sm-block"></div>

      </div>
    </div>
  </section>


  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Locally Grown Vegetables</h2>
            <p>The majority of the produce at OZCF is grown at farms in and around the western cape, all the way from the West Cost to George</p>
            <p>This helps support the small scale farmers making use of sustainable farming methods</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-heart-outlined"></i></div>
            <h2 class="heading">Food for Thought</h2>
            <p>Knowing more about the provenance of your produce offers you better agency to support farmers making use of ethical farming methods.</p>
            <p>It gives you the chance to put your support behind produce that is good for the land and for</p>
          </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
    </div>
  </section>

  
  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  


  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  <script>

  const data = [
  {
      id: 1,
      fruit_name: "Mangoes",
      picture:
        "img/fruitCatalogue/mangoes.jpg", //an image of the fruit
      fruit_descrip: "They have succulent sweet flesh and a unique mango flavour", //fruit description
      fruit_cert: "Organic",
      fruit_par1: "The mangoes are from Tamarak Mango Estate. It is a first generation farm, started by co-owners Bernie van den Heever and Dirk Visser. The estate is located between Citrusdal and Clanwilliam.", //paragraph 1
      fruit_par2: "The co-owner Bernie says the mangoes are cultivated through biological farming methods. The estate prepares its own compostand refrains from spraying harsh chemicals on fruits or trees. They use natural predators as a pest fighting mechanism.", //paragraph 2
      //fruit_par3: "Medium", //paragraph 3
      //fruit_par4: "Medium", //paragraph 4
      origin: "Tamarak Mango Estate", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 2,
      fruit_name: "Cara Cara Oranges",
      picture:
        "img/fruitCatalogue/caracaraoranges.jpg", //an image of the fruit
      fruit_descrip: "A medium sized navel that is seedless, sweet and low in acidity. It is characterised by little to no pith and easy clean separation from the rind", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "This medium sized navel is seedless, sweet and low in acid and characterised by little to no pith and easy, clean separation from the rind. The flavour is more complex than most navel varieties and has been described as evoking notes of cherry, rose petal, and blackberry.", //paragraph 1
      fruit_par2: "How citrus arrived on the shores of Africa from the tropical rainforests of Southern China and the Malay Archipelago and ended up on the Olifants River Valley is a historical tale. The arrival of the sweet orange to the shores of Southern Africa is clearly recorded. On 11 June 1654, the ship Tulp brought the first sweet orange trees to Cape Town from St Helena where the Portuguese had planted them to aid sick sailors.", //paragraph 2
      fruit_par3: "The first trees in South Africa were planted in the Company’s Garden. On the 26th July 1661, the first fruits were picked by Jan Van Riebeeck and were recorded as being “very good”. By the time that the St Helena oranges bore their first fruit, Jan Van Riebeeck had 1162 citrus fruit trees growing in his garden, making it the first South African orchard. ", //paragraph 3
      // fruit_par4: "", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 3,
      fruit_name: "Beetroot",
      picture:
        "img/fruitCatalogue/beetroot.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Certified",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Naturally Organic Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 4,
      fruit_name: "Naartjies Nardocott",
      picture:
        "img/fruitCatalogue/naartjies_nardocott.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 5,
      fruit_name: "Mange Tout Peas",
      picture:
        "img/fruitCatalogue/mangetoutpeas.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Non-ceritifed",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Sababa Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 6,
      fruit_name: "Crown Prince Pumpkin",
      picture:
        "img/fruitCatalogue/crownprincepumpkin.jpg", //an image of the fruit
      fruit_descrip: "Organic Non-certified", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Nuy Valley", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 7,
      fruit_name: "Ruby Grapefruit",
      picture:
        "img/fruitCatalogue/grapefruit.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 8,
      fruit_name: "English Spinach",
      picture:
        "img/fruitCatalogue/spinachenglish.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Non-certified",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Pedi (Phillipi)", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 9,
      fruit_name: "Apple Pink Lady",
      picture:
        "img/fruitCatalogue/pinklady2.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional Pesticide residue free",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Elgin", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 10,
      fruit_name: "Sicilian Tarocco Scire Blood Orange",
      picture:
        "img/fruitCatalogue/bloodorange.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
      cert: "organic", //certification is organic or conventional
    },
    {
      id: 11,
      fruit_name: "Tomatoes",
      picture:
        "img/fruitCatalogue/yellowtomatoes.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Rosenhof Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 12,
      fruit_name: "Nules Naartjies",
      picture:
        "img/fruitCatalogue/nulesnaartjies.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
  ];



var fruitBasket = ["fruitOne", "fruitTwo", "fruitThree", "fruitFour", "fruitFive", "fruitSix", "fruitSeven", "fruitEight", "fruitNine", "fruitTen", "fruitEleven", "fruitTwelve"];

//fruit basket gives us part of the name of the ID of the html objects
//fruit catalogue gives us the json object from where we will extract data pertaining to each fruit
function addFruitImg (){
    var i; //variable i is used to keep track of the indexing in the fruit basket
    for (i = 0; i < 12 ;i++) {
      var b = fruitBasket[i] + "Img";
      var c = fruitBasket[i] + "Popup";
      document.getElementById(b).src = data[i].picture;
      document.getElementById(c).href = data[i].picture;
      }
};

addFruitImg();
  </script>

  </body>
</html>
