<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->
  
  <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h2 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Food has a story</h2>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Do you know where your food comes from? We can help you answer that question!</div>
              <p class="probootstrap-animate" data-animate-effect="fadeIn"><a href="/how" class="btn btn-ghost btn-ghost-white">FIND OUT HOW</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/orangebowl_bg.jpg);"></li>
      <li style="background-image: url(/img/pumpkin_bg.jpg);"></li>
      <li style="background-image: url(/img/oranges_bg.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <div class="container">
      
    <% include ./partials/notificationbar %>
  </div>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/slider_2.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">FoodPrint empowers farmers, consumers and every food actor in-between.</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Our blockchain-enabled, digital food traceability cloud platform enhances traceability and transparency in food supply chains. We empower farmers, consumers and any intermediaries in-between!</p>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn" id="share_to_socials">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffoodprintapp.com" class="icon" target="_blank" aria-pressed="true" id="facebookMenuButton"><i class="icon-facebook"></i></a>
        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffoodprintapp.com&amp;text=The%20FoodPrint%20traceability%20platform%20empowers%20farmers,%20consumers%20and%20every%20food%20actor%20in-between %20%23FoodPrint%20%23FarmToFork%20%23Tech4Good%20%23Blockchain%20%23ProudlySouthAfrican%20" class="icon"  target="_blank" aria-pressed="true" id="twitterMenuButton"><i class="icon-twitter"></i></a>
      </p>
    </div>
  </section>

  <section class="probootstrap-section">
      <div class="row">
        <h3 class="heading text-center">FEATURES & BENEFITS</h3>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Farmers</h2>
            <hr>
            <p><b>Features</b></p>
            <ul>
              <li>Digital Harvest Logbook</li>
              <li>Produce Reporting & Analytics</li>
              <li>Market Directory (farm-to-fork markets)</li>
              <li>Retailer Directory (farm-to-fork retailers)</li>
            </ul> 
            <hr>
            <p><b>Benefits</b></p>
            <ul>
              <li>Standardised digital harvest and sales records (say goodbye to paper records)</li>
              <li>Credible historical harvest and sales records (within 6 - 12 months)</li>
              <li>View, store and search produce information on demand</li>
              <li>Improved farmer visibility & credibility</li>
              <li>Unlock access to markets and services</li>
              <li>Communicate your contribution to ethical and sustainable farming</li>
              <li>Uncover insights to help you make better decisions and improve profitability</li>
              <li>Always online and accessible from any internet-enabled device</li>
            </ul> 
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-office"></i></div>
            <h2 class="heading">Agri-Processors/Markets/Retailers</h2>
            <hr>
            <p><b>Features</b></p>
            <ul>
              <li>Digital Storage/Handover Logbook</li>
              <li>Produce Reporting & Analytics</li>
              <li>Digital Produce Traceability</li>
              <li>Farmer Directory</li>
            </ul>
            <hr>
            <p><b>Benefits</b></p>
            <ul>
              <li>Standardised digital produce order records (say goodbye to paper records)</li>
              <li>View, store and search produce information on demand</li>
              <li>Credible historical order records (within 6 - 12 months)</li>
              <li>Reliably track produce chain-of-custody</li>
              <li>Stay upto date with real time produce notifications</li>
              <li>Demonstrate your commitment to fair, ethical and sustainable food systems</li>
              <li>Increase supply chain efficiency</li>
              <li>Uncover insights to help you make better decisions and improve profitability</li>
              <li>Always online and accessible from any internet-enabled device</li>
            </ul> 
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-users2"></i></div>
            <h2 class="heading">Consumers</h2>
            <hr>
            <p><b>Features</b></p>
            <ul>
              <li>QR Code Scanning for Produce Provenance</li>
              <li>Weekly Produce View</li>
              <li>Market Directory (farm-to-fork markets)</li>
              <li>Retailer Directory (farm-to-fork retailers)</li>
            </ul>
            <hr>
            <p><b>Benefits</b></p>
            <ul>
              <li>Scan a QR code to see real-time data about fresh produce - where it is coming from, who the farmer is & when it was harvested i.e. validate and authenticate food origin</li>
              <li>Make informed purchases about the food you buy</li>
              <li>Plan your fresh produce purchases by browsing to see produce that will be sold at your favourite farm-to-fork retailer</li>
            </ul> 
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/slider_2.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">Traceable and Transparent Food</h2>
      <p class="sub-heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">FoodPrint uses cutting-edge and secure technology to track produce all the way from farm-to-fork. FoodPrint answers the What, When, Why and How of food.</p>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn" id="share_to_socials">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffoodprintapp.com" class="icon" target="_blank" aria-pressed="true" id="facebookMenuButton"><i class="icon-facebook"></i></a>
        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffoodprintapp.com&amp;text=FoodPrint uses cutting-edge and secure technology to track produce all the way from farm-to-fork %20%23FoodPrint%20%23FarmToFork%20%23Tech4Good%20%23Blockchain%20%23ProudlySouthAfrican" class="icon"  target="_blank" aria-pressed="true" id="twitterMenuButton"><i class="icon-twitter"></i></a>
      </p>  
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <h3 class="heading text-center">HIGHLIGHTS</h3>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Initial Proof-of-Concept at University of Cape Town (FinTech Masters Blockchain Project) [2019]</h2>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Accepted & participated in the Solution Space Venture Launch Programme (University of Cape Town, Graduate School of Business) [2019]</h2>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Successful pilot at Oranjezicht City Farm Market, Cape Town [2019, 2020]</h2>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Accepted & participated in the Oribi Food Systems Bootcamp Programme [2020]</h2>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Accepted into the Oribi Food Systems Incubation Programme [2020, 2021]</h2>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div> -->
        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-heart-outlined"></i></div>
            <h2 class="heading">Pilot at Oranjezicht City Farm Market [2019, 2020]</h2>
            <p>Knowing more about the provenance of your produce offers you better agency to support farmers making use of ethical farming methods.</p>
            <p>It gives you the chance to put your support behind produce that is good for the land and for</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div> -->
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
    <h2 class="heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">Join the food revolution</h2>
    <p class="sub-heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">Get more information or request a consultation.</p>
    <a class="btn btn-primary"  href="/contact">GET STARTED WITH FOODPRINT</a> 
    </div>
  </section>

  <!-- Scan QR Code to see our technology in action - add a FoodPrint QR Code -->
  <!-- <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
    <h2 class="heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">Join the food revolution</h2>
    <p class="sub-heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">Get more information or request a consultation.</p>
    <a class="btn btn-primary"  href="/contact">GET STARTED WITH FOODPRINT</a> 
    </div>
  </section> -->

  

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <script>
  // $(document).ready(function () {
  //          $('#subscribe_form').submit(function (event) {
  //                       event.preventDefault();
  //                       //collect the form data using Id Selector what ever data you need to send to server
  //                       var data = {};
  //                       data.subscribe_email=$('#subscribe_email').val();
  //                       $.ajax({
  //                           url: '/subscribe',
  //                           data: JSON.stringify(data),
  //                           processData: false,
  //                           type: 'POST',
  //                           contentType: 'application/json'
  //                       }).done(function(res) {
  //                           if (res.success) {
  //                               //$("#subscribe_form").get(0).reset() // or $('form')[0].reset()
  //                               $("#subscribe_form").hide();
  //                               $('#error-group').hide();
  //                               $('#subscribe_result').html('You have successfully subscribed as ' + res.email);
  //                           } else {
  //                               $('#error-group').css('display', 'block');
  //                                 var errors = JSON.parse(JSON.stringify(res.errors));
  //                                 var errorsContainer = $('#errors');
  //                                 errorsContainer.innerHTML = '';
  //                                 var errorsList = '';

  //                                 for (var i = 0; i < errors.length; i++) {
  //                                   errorsList += '<li>' + errors[i].msg + '</li>';
  //                                 }
  //                                 errorsContainer.html(errorsList);
  //                                 console.log('error...ajax' + errorsList);
  //                           }
  //                         });
  //                   });
  //               });

  /* const data = [
  {
      id: 1,
      fruit_name: "Mangoes",
      picture:
        "img/fruitCatalogue/mangoes.jpg", //an image of the fruit
      fruit_descrip: "They have succulent sweet flesh and a unique mango flavour", //fruit description
      fruit_cert: "Organic",
      fruit_par1: "The mangoes are from Tamarak Mango Estate. It is a first generation farm, started by co-owners Bernie van den Heever and Dirk Visser. The estate is located between Citrusdal and Clanwilliam.", //paragraph 1
      fruit_par2: "The co-owner Bernie says the mangoes are cultivated through biological farming methods. The estate prepares its own compostand refrains from spraying harsh chemicals on fruits or trees. They use natural predators as a pest fighting mechanism.", //paragraph 2
      //fruit_par3: "Medium", //paragraph 3
      //fruit_par4: "Medium", //paragraph 4
      origin: "Tamarak Mango Estate", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 2,
      fruit_name: "Cara Cara Oranges",
      picture:
        "img/fruitCatalogue/caracaraoranges.jpg", //an image of the fruit
      fruit_descrip: "A medium sized navel that is seedless, sweet and low in acidity. It is characterised by little to no pith and easy clean separation from the rind", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "This medium sized navel is seedless, sweet and low in acid and characterised by little to no pith and easy, clean separation from the rind. The flavour is more complex than most navel varieties and has been described as evoking notes of cherry, rose petal, and blackberry.", //paragraph 1
      fruit_par2: "How citrus arrived on the shores of Africa from the tropical rainforests of Southern China and the Malay Archipelago and ended up on the Olifants River Valley is a historical tale. The arrival of the sweet orange to the shores of Southern Africa is clearly recorded. On 11 June 1654, the ship Tulp brought the first sweet orange trees to Cape Town from St Helena where the Portuguese had planted them to aid sick sailors.", //paragraph 2
      fruit_par3: "The first trees in South Africa were planted in the Company’s Garden. On the 26th July 1661, the first fruits were picked by Jan Van Riebeeck and were recorded as being “very good”. By the time that the St Helena oranges bore their first fruit, Jan Van Riebeeck had 1162 citrus fruit trees growing in his garden, making it the first South African orchard. ", //paragraph 3
      // fruit_par4: "", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 3,
      fruit_name: "Beetroot",
      picture:
        "img/fruitCatalogue/beetroot.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Certified",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Naturally Organic Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 4,
      fruit_name: "Naartjies Nardocott",
      picture:
        "img/fruitCatalogue/naartjies_nardocott.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 5,
      fruit_name: "Mange Tout Peas",
      picture:
        "img/fruitCatalogue/mangetoutpeas.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Non-ceritifed",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Sababa Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 6,
      fruit_name: "Crown Prince Pumpkin",
      picture:
        "img/fruitCatalogue/crownprincepumpkin.jpg", //an image of the fruit
      fruit_descrip: "Organic Non-certified", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Nuy Valley", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 7,
      fruit_name: "Ruby Grapefruit",
      picture:
        "img/fruitCatalogue/grapefruit.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 8,
      fruit_name: "English Spinach",
      picture:
        "img/fruitCatalogue/spinachenglish.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic Non-certified",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Pedi (Phillipi)", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 9,
      fruit_name: "Apple Pink Lady",
      picture:
        "img/fruitCatalogue/pinklady2.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional Pesticide residue free",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Elgin", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 10,
      fruit_name: "Sicilian Tarocco Scire Blood Orange",
      picture:
        "img/fruitCatalogue/bloodorange.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
      cert: "organic", //certification is organic or conventional
    },
    {
      id: 11,
      fruit_name: "Tomatoes",
      picture:
        "img/fruitCatalogue/yellowtomatoes.jpeg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Organic",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Rosenhof Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
    {
      id: 12,
      fruit_name: "Nules Naartjies",
      picture:
        "img/fruitCatalogue/nulesnaartjies.jpg", //an image of the fruit
      fruit_descrip: "", //fruit description
      fruit_cert: "Conventional",
      fruit_par1: "Medium", //paragraph 1
      fruit_par2: "Medium", //paragraph 2
      fruit_par3: "Medium", //paragraph 3
      fruit_par4: "Medium", //paragraph 4
      origin: "Bergsoom Farm", //farm of origin
      origin_dist: "23km", //distance travelled
      harvest_ts: "23:00", //harvest timestamp
      market_ts: "23:00", //market timestamp
    },
  ];



//var fruitBasket = ["fruitOne", "fruitTwo", "fruitThree", "fruitFour", "fruitFive", "fruitSix", "fruitSeven", "fruitEight", "fruitNine", "fruitTen", "fruitEleven", "fruitTwelve"];

//fruit basket gives us part of the name of the ID of the html objects
//fruit catalogue gives us the json object from where we will extract data pertaining to each fruit
function addFruitInfo (){
    var i; //variable i is used to keep track of the indexing in the fruit basket
    for (i = 0; i < 6 ;i++) {
          var a = fruitBasket[i] + "Name";
          var b = fruitBasket[i] + "Img";
          var c = fruitBasket[i] + "Cert";
            document.getElementById(a).innerHTML = data[i].fruit_name;
            document.getElementById(b).src = data[i].picture;
            document.getElementById(c).innerHTML = data[i].fruit_cert;
      }
};

addFruitInfo(); */

  </script>

  </body>
</html>
