<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('partials/head'); %>
</head>

<body>
    <!-- START: header -->

    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
            <%- include('partials/header'); %>
    </header>
    <!-- END: header -->


    <div class="container" style="width: 100%;">
        <div class="row align-items-center justify-content-center">
            <!-- START LOGIN FORM-->
            <div class="col-md-6 col-md-offset-3">
                <!-- col-md-offset-3 class that will offset by 3 columns, given that Bootstrap has a 12-column grid this will put a col-md-6 element right in the center. -->
                <!-- <h3 class="heading text-center">User Login</h3> -->
                    <%- include('partials/notificationbar'); %>
                    <div class="login">
                        <div class="login-image probootstrap-section-heading text-center probootstrap-animate fadeInUp probootstrap-animated" style="background-image: url(/img/farm1.jpg); height: 200px; background-size: 100%; background-repeat: no-repeat; "></div>
                        <h4 class="heading">Login</h4>
                        <form class="login-form probootstrap-form mb60 validate-form" method="post">
                            <div class="form-group">
                                <label for="loginUsername">Username</label>
                                <input type="text" style="color: black;" id="loginUsername" name="loginUsername" class="form-control" placeholder="Enter Username" required autofocus/>
                            </div>

                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" style="color: black;" id="loginPassword" name="loginPassword" class="form-control" placeholder="Enter Password" required>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" formaction="/app/auth/login">Login</button>
                                <!-- Local Auth -->
                            </div>

                            <div class="form-group">
                                Don't have a FoodPrint account yet? <a href="/app/auth/register">Register now</a>.
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <!-- END LOGIN FORM-->
    </div>
    <div><br/></div>
    <!-- start footer -->
    <%- include('partials/footer'); %>
        <!-- end footer -->

        <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
        <script src="/js/scripts.min.js"></script>
        <script src="/js/main.min.js"></script>
        <script src="/js/custom.js"></script>
</body>

</html>