<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">PRIVACY POLICY</h4>
      </div>
      
      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-12 probootstrap-animate">

        </div>
        <div class="col-md-6 probootstrap-animate">
          <p>At FoodPrint, we value your trust and respect your privacy.</p>
          <p>
            FoodPrint exists to support farmers, intermediaries and consumers in food supply chains by through technology enabled transparency and traceability solutions, while respecting your privacy expectations.
          </p>
          <p>
            This privacy policy applies to https://www.foodprintapp.com and, its subdomains (the “Site”), and our mobile apps, all of which are owned and operated by FoodPrint. It does not apply to any third-party websites, which have their own policies. Throughout this policy, when we say FoodPrint, we mean our company, including the Site and any FoodPrint mobile apps, and when we say Services we mean the various services, and apps we make available to you through our Site and mobile apps, including our logging, tracing, ordering, analytics services, and other food supply chain related services and support.
          </p>
          <p>  
            By “Personal Information”, we mean information about an identifiable individual. That’s what this policy is about – our collection, protection, use, retention, disclosure and other processing of Personal Information and your rights relating to these activities. We also compile certain aggregate data about our users.        
          </p>
          <p>            
              What is aggregate data? “Joe Brown delivers cucumbers to the market in Cape Town ” is the Personal Information of Joe Brown, but “20% of FoodPrint farmers deliver cucumbers weekly” is aggregate data.
        </p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p>
            We use Personal Information in order to provide you and your business with the Services. 

          </p>
          <p>
            Our Privacy Policy is based on the following 10 fair information principles:
            
            <ul>
                <li>Identifying purposes</li>
                <li>Consent</li>
                <li>Limiting collection</li>
                <li>Limiting use, disclosure, and retention</li>
                <li>Accuracy</li>
                <li>Safeguards</li>
                <li>Openness</li>
                <li>Individual access</li>
                <li>Challenging compliance</li>
                <li>Accountability</li>
            </ul>
          </p>
          <p>
            We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on our website prior to the change becoming effective. We encourage you to periodically review our Privacy Policy for the latest information on our privacy practices.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Pic 
  <div class="row">
    <div class="col-md-9 probootstrap-animate">
      <img src="img/pomegranite.jpg" alt="traceability in the food supply chain for markets" class="img-responsive img-rounded" >
    </div>
    <div class="col-md3 probootstrap-animate">
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"From Farm to Fork.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Transparency in the food supply chain.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Immutability of produce data.".</p>


    </div>
  </div> -->
</div>


  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->

  <!-- <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Locally Grown Vegetables</h2>
            <p>The majority of the produce at OZCF is grown at farms in and around the western cape, all the way from the West Cost to George</p>
            <p>This helps support the small scale farmers making use of sustainable farming methods</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-heart-outlined"></i></div>
            <h2 class="heading">Food for Thought</h2>
            <p>Knowing more about the provenance of your produce offers you better agency to support farmers making use of ethical farming methods.</p>
            <p>It gives you the chance to put your support behind produce that is good for the land and for</p>
          </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
    </div>
  </section> -->

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </body>
</html>
