<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

   <!-- START TABLE-->
   <div class="container" style="width: 100%;">
    <h3>Produce Price Page</h3>
    
    
    <% include ./partials/notificationbar %>
    
    

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->
    
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    
  <script src="/js/scripts.min.js"></script><!--/*! jQuery v1.12.4 | (c) jQuery Foundation | jquery.org/license */-->
  <script src="/js/main.min.js"></script>  <!--  Bootstrap v3.3.7 -->
   
   <script type="text/javascript" src="/js/moment-with-locales.min.js"></script> <!--datetime picker -->
   <script type="text/javascript" src="/js/moment-timezone-with-data-2012-2022.min.js"></script> <!--datetime picker -->
   <script src="/js/tempusdominus-bootstrap-3.js"></script> <!--datetime picker -->

  <script src="/js/custom.js"></script><!-- Subscribe-->
  <script src="/js/sha256.min.js"></script><!-- Blockchain -->

  </body>
</html>