<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
   <!-- END: header -->

   <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h2 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Technology 101</h2>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Learn about various technology in Food Supply Chains (including Blockchain) </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/img/slider_1.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">FAQS & DEFINITIONS</h4>
        <h2 class="heading">Technology 101</h2>
      </div>

      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p><b>Distributed Ledger Technology (DLT)</b> - Umbrella term to designate multi-party systems that operate in an environment with no central operator or authority, despite parties who may be unreliable.</p>
          <p><b>Blockchain</b> - A digital, decentralized and distributed ledger in which transactions are logged and added in chronological order with the goal of creating permanent and tamper-proof records. The name blockchain stems from its technical structure — a chain of blocks, each block is linked to the previous block with a secure mathemtical property.</p>
          <p><b>Blockchain vs Distributed Ledger Technology</b> - Blockchain falls under the Distributed Ledger Technology umbrella. However, not all distributed ledgers necessarily employ blockchain. </p>
          <p><b>Bitcoin vs Blockchain</b> - Bitcoin is a  cryptocurrency, which simply out, is a financial application of blockchain technology. Blockchain itself is more of a foundational/enabling technology, with alternative uses outside of financial transactions. </p>
          <p><b>Applications of Blockchain</b> - Since blockchain reduces the need for a trusted authority (given its decentralised and tamper-proof nature), it can be used not only for capturing transactions but for general-purpose record keeping well. Blockchain can optimize processes and improve efficiencies.  In particular, the tamper-proof nature gives rise to auditable traceability, which in turn makes blockchain especially useful in supply chain traceability.</p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p><b>Blockchain for food traceability</b> - The complexity of global food systems makes food supply chains more opaque and less robust. The ability to instantaneously trace the entire lifecycle of food products from origin through every point of contact on its journey to the consumer combats food fraud and bolsters credibility, efficiency and safety.</p>
          <p><b>What technology is required to use FoodPrint</b> - An internet connection and an internet-enabled mobile device.</p>
          <p><b>Is FoodPrint open-source?</b> - Transparency is at the heart of what we do at FoodPrint. As such, the core of our core work is open.</p>
          <p><b>Reporting</b> - The process of organizing data into informational summaries in order to monitor how different areas of a business are performing.</p>
          <p><b>Analytics</b> - The process of exploring data and reports in order to extract meaningful insights, which can be used to better understand and improve business performance.</p>
          <p><b>Internet of Things (IoT)</b> - IoT describes the network of physical objects—"things"—that are embedded with sensors, software, and other technologies for the purpose of connecting and exchanging data with other devices and systems over the internet.</p>
          <p><b>Artificial Intelligence (AI)</b> - AI makes it possible for machines to learn from experience, adjust to new inputs and perform human-like tasks e.g. Siri, self-driving cars.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(/img/toms1.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Secure, Transparent, and Immutable</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">We are modernising food supply chains using Blockchain Technology</p>
    </div>
  </section>

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>
