<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">Terms of Use</h4>
      </div>
      
      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-12 probootstrap-animate">

        </div>
        <div class="col-md-6 probootstrap-animate">
          <p>FoodPrint does not sell or farm any produce. We aim to create a platform where consumers can access the journey of their produce; 
            from the farm it was harvested at to their shopping baskets. 
            We aim to create a transparent space that encourages ethical and sustainable ideals amongst 
            the producers, farmers’ markets and consumers.
          </p>
          <p>
              The information regarding the produce data is uploaded by farmers and market administrators directly. 
              We make no representations, warranties or guarantees, whether express or implied for the content on the FoodPrint. 
              The farmers and market administrators are required to check that the site is accurate, complete or up-to-date. 
              We strongly recommend you verify any information before you rely on it.
          </p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p>
              We know how important the colour of a product can be. 
              The way that colours of products are displayed may depend on your monitor. 
              We can't really control this, but we think it is worth reminding you.
          </p>
          <p>
              You must not access or use the FoodPrint website for any illegal or unauthorised purpose. 
              You shall remain solely responsible for your conduct on the Site, 
              including any content you upload and any comments you make.
          </p>
          <p>
              The FoodPrint company cannot be held liable for any negative externality that may occur 
              as a result of consuming the produce listed on the site. 
              Buyers are fully responsible for all purchases they make at the market and all produce they may consume.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Pic 
  <div class="row">
    <div class="col-md-9 probootstrap-animate">
      <img src="img/pomegranite.jpg" alt="traceability in the food supply chain for markets" class="img-responsive img-rounded" >
    </div>
    <div class="col-md3 probootstrap-animate">
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"From Farm to Fork.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Transparency in the food supply chain.".</p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle"> </p>
      <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic; vertical-align: middle">"Immutability of produce data.".</p>


    </div>
  </div> -->
</div>


  <!--<section class="probootstrap-section probootstrap-bg" style="background-image: url(img/food_bg.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Fresh &amp; Non-GMO Products</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
  </section> -->

  <!-- <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Locally Grown Vegetables</h2>
            <p>The majority of the produce at OZCF is grown at farms in and around the western cape, all the way from the West Cost to George</p>
            <p>This helps support the small scale farmers making use of sustainable farming methods</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Natural As It's In Nature</h2>
            <p>Not all produce at the market is organically certified but it is pesticide free. You are given the knowledge so that you can choose accordingly.</p>
            <p>The produce is grown using sustainable farming methods that are good for the land and the people.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-heart-outlined"></i></div>
            <h2 class="heading">Food for Thought</h2>
            <p>Knowing more about the provenance of your produce offers you better agency to support farmers making use of ethical farming methods.</p>
            <p>It gives you the chance to put your support behind produce that is good for the land and for</p>
          </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
    </div>
  </section> -->

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </body>
</html>
