/* Your custom css code goes here */
.imgGrid{
    width:350px;
    height:250px;
    overflow: hidden;
}

/*  spinner CSS */
@keyframes spinner-border {
    to { transform: rotate(360deg); }
  } 
  .spinner-border{
      display: inline-block;
      width: 1rem;
      height: 1rem;
      vertical-align: text-bottom;
      border: .25em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner-border .75s linear infinite;
      animation: spinner-border .75s linear infinite;
  }
  .spinner-border-sm{
      height: 1rem;
      border-width: .2em;
  }